.imagenDeFondo{
    margin-top: 30px;
    background-image: url('/Assets/img/Banner_mobile');
    height: 607px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icono{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    margin-top: -90px;
}

.icono h1{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.texto1{
    font-size: 24px;
    color: white;
    padding-top: 10px;
    margin: 0;
}

.texto2{
    font-size: 24px;
    color: white;
    margin: 0;
    text-align: left;
    width: 240px;
    position: relative;
    left: -33px;
}

.imagenVideo{
    position: relative;
    left: -137px;
    bottom: -225px;
}