@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.index {
  background-color: #424242;
  width: 1366px;
  height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageIndex img{
  border-radius: 100px;
}

.textIndex{
  color: white;
}

.buttonsIndex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: transparent;
  color: white;
  margin: 0 18px;
  border: 1px solid #EBE000;
  width: 144px;
  height: 44px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
}

.boton:hover{
  border: 1px solid blue
}

.container-mobile{
  width: 360px;
  overflow: hidden;
}

.container-desktop{
  width: 1366px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}